body {
  background-color: #f1fafb;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: lightgrey;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #3282b8;
}

h3 {
  color: #4f8a8b;
}

#container {height: 100%; width:100%; font-size:0;}
#left, #middle, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}
#left {width: 25%;}
#middle {width: 25%;}
#right {width: 25%;}
